<!DOCTYPE html>
<html>
<head>
    <title>ADMIN</title>
    <meta charset="utf-8" />
    <script src="/app.js"></script>
    <link rel="stylesheet" href="/styles.css">
    <style>
</style>
</head>
<body>
    <div id="div-load-map" class="divs-nav-for-main-page-admins">
        <p>Загрузить карту</p>
    </div>
    <div id="div-set-roads-and-cities" class="divs-nav-for-main-page-admins">
        <p>Расставить дороги города на карте</p>
    </div>
    <div id="div-set-track" class="divs-nav-for-main-page-admins">
        <p>Придумать маршруты</p>
    </div>
    <div id="div-set-players" class="divs-nav-for-main-page-admins">
        <p>Добавить игроков</p>
    </div>
</body>
<html>